@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
:root {
  /* HEADER/FOOTER SIZES */
  --large-hf: 60px;
  --medium-hf: 40px;
}
/* GLOBAL */

* {
  font-family: "Press Start 2P", cursive;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  display: flex;
  height: 100vh;
  flex-direction: column;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
button {
  outline: none;
  border: none;
  background: transparent;
  cursor: pointer;
}
/* HEADER */
header {
  height: var(--large-hf);
  background-color: white;
  display: flex;
}
section {
  background-color: black;
  height: 100%;
  width: 100%;
  display: flex;
}
nav {
  width: 90%;
  margin: auto;
  height: 80%;
  display: flex;
  align-self: center;
}
header ul {
  display: flex;
  justify-content: space-around;
  align-self: center;
  height: 80%;
  width: 100%;
}
header li {
  align-self: center;
  font-size: 1.2em;
}
header li a {
  color: black;
}
.header_white {
  background-color: white;
  color: black;
}
#title {
  align-self: flex-start;
  font-size: 1.8em;
}
#title a {
  color: rgb(180, 77, 77);
}
header li a:focus {
  border-bottom: 5px solid black;
}
/* FAQ */
.FAQ-link {
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 50px;
  color: white;
}

.FAQ {
  position: absolute;
  bottom: 20px;
  right: 80px;
  text-align: center;
  padding: 10px 15px;
  background-color: rgba(180, 77, 77, 0.8);
  width: 200px;
  height: 300px;
  display: none;
  border: 3px solid white;
}
.show {
  display: block;
}
/* CONTAINER */
.container {
  background-image: url("img/Background.jpg");
  background-size: cover;
  width: 100%;
  flex: 1;
  position: relative;
  color: white;
  display: flex;
}

/* DINO */
.dino {
  background-color: rgb(97, 90, 90);
  width: 50%;
  height: 50%;
  margin: auto;
}

/* FOOTER */
footer {
  background-color: white;
  align-content: center;
  height: var(--large-hf);
  min-height: var(--large-hf);
}
/* SCROLLING TEXT */
.example1 {
  overflow: hidden;
  position: relative;
  display: flex;
}
.example1 h3 {
  height: max-content;
  font-size: 2em;
  color: rgb(0, 0, 0);
  position: absolute;
  width: 100%;
  line-height: 50px;
  text-align: center;
  align-self: center;

  /* Starting position */
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  /* Apply animation to this element */
  -moz-animation: example1 15s linear infinite;
  -webkit-animation: example1 15s linear infinite;
  animation: example1 15s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes example1 {
  0% {
    -moz-transform: translateX(100%);
  }
  100% {
    -moz-transform: translateX(-100%);
  }
}
@-webkit-keyframes example1 {
  0% {
    -webkit-transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
  }
}
@keyframes example1 {
  0% {
    -moz-transform: translateX(100%); /* Firefox bug fix */
    -webkit-transform: translateX(100%); /* Firefox bug fix */
    transform: translateX(100%);
  }
  100% {
    -moz-transform: translateX(-100%); /* Firefox bug fix */
    -webkit-transform: translateX(-100%); /* Firefox bug fix */
    transform: translateX(-100%);
  }
}
